@model NET6Identity.ViewModels.RegisterListViewModel

@{
    ViewData["Title"] = "List";
}

<h4>Users</h4>

<p>
    <a asp-action="Register" class="btn btn-primary float-end">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Email</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
